body {
    background-color: black;
}

.navbar {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 5px 5px;
}

.paragraphs {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

button {
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color: rgb(76, 75, 75, 30);
    color: white;
    border: 2px;
    border-color: black;

}